{% extends 'base.html' %}

{% block head %} 
<title>Login</title>
{% endblock %}

{% block body %}

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/index">Post Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Contact</a>
      </li>


      {% if current_user.is_authenticated %}
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ current_user.username }}</a>
	        <div class="dropdown-menu" aria-labelledby="dropdown01">
	          <a class="dropdown-item" href="/index/profile/{{ current_user.username }}">Profile</a>
	          <a class="dropdown-item" href="/index/account/{{ current_user.username }}">Your Posts</a>
	          <a class="dropdown-item" href="/index/newpost">Add New Post</a>
	          <a class="dropdown-item" href="/logout">Logout</a>
	        </div>
	      </li>
	    </ul>
	  {% else %}
	  	<li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Register/Login</a>
	        <div class="dropdown-menu" aria-labelledby="dropdown01">
	          <a class="dropdown-item" href="/reg">Register</a>
	          <a class="dropdown-item" href="/login">Login</a>
	        </div>
	      </li>
	    </ul>
	  {% endif %}
  </div>
</nav>

<div style="width: 75%; margin: 0px auto;">

<p class="h3" style="background: #dbd163; color: white; padding: 5px;">Login:</p><br/>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <h3>{{ message }}</h3><br/>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

	<form action="/login" method="POST">
		Username:
		<input class="form-control" type="text" name="username" id="username">
		Password:
		<input class="form-control" type="password" name="password" id="password"><br/>
		<input class="btn btn-primary" type="submit" value="Login">
	</form>
<hr>
</div>

{% endblock %}